/* 标准色 */
$red: #e54d42 !default;
$orange: #f37b1d !default;
$yellow: #fbbd08 !default;
$olive: #8dc63f !default;
$green: #39b54a !default;
$cyan: #1cbbb4 !default;
$blue: #0081ff !default;
$purple: #6739b6 !default;
$mauve: #9c26b0 !default;
$pink: #e03997 !default;
$brown: #a5673f !default;
$grey: #8799a3 !default;
$black: #333333 !default;
$darkGray: #666666 !default;
$gray: #aaaaaa !default;
$ghostWhite: #f1f1f1 !default;
$white: #ffffff !default;

/* 浅色 */
$redLight: #fadbd9 !default;
$orangeLight: #fde6d2 !default;
$yellowLight: #fef2ce !default;
$oliveLight: #e8f4d9 !default;
$greenLight: #d7f0db !default;
$cyanLight: #d2f1f0 !default;
$blueLight: #cce6ff !default;
$purpleLight: #e1d7f0 !default;
$mauveLight: #ebd4ef !default;
$pinkLight: #f9d7ea !default;
$brownLight: #ede1d9 !default;
$greyLight: #e7ebed !default;